<mat-toolbar color="primary">
  <ng-container *ngIf="usuarioActivo$ | async as usuario">
    <span>PF_Santoro- {{ruta}} - {{ usuario.username }}  </span>  

    <button mat-icon-button class="edit" aria-label="edit-usuario" (click)="redireccionar('panel-usuario')">
        <mat-icon> person </mat-icon>
    </button>

</ng-container>
    
  <button mat-icon-button class="login" aria-label="home" (click)="redireccionar('inicio')">
    <mat-icon>home </mat-icon>

   <button mat-icon-button class="login" aria-label="logout" (click)="cerrarSesion()">
    <mat-icon>logout</mat-icon>
   
    