.container{
  width: 100%;
  height: auto;
  display: flex ;
}

div.card {
    margin: 25px;
}

button {
margin: 5px;
}

.img{
max-height: 400px;
margin: auto;
display: block;
}

div.img {
  display: flex;
  justify-content: center;
}