<h1 mat-dialog-title>Nuevo Curso</h1>
<div mat-dialog-content>
    <form [formGroup]="formulario">
        <mat-form-field appearance="fill">
            <mat-label>id</mat-label>
            <input formControlName="id" matInput>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>materia</mat-label>
            <input formControlName="materia" matInput>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>comision</mat-label>
            <input formControlName="comision" matInput>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>profesor</mat-label>
            <input formControlName="profesor" matInput>
        </mat-form-field>

        <mat-form-field >
            <input matInput [matDatepicker]="fechaInicio" formControlName="fechaInicio">
            <mat-datepicker-toggle matSuffix [for]="fechaInicio"></mat-datepicker-toggle>
            <mat-datepicker #fechaInicio></mat-datepicker>
            <input  matInput>
        </mat-form-field>

    </form>
</div>
<div mat-dialog-actions>
    <button id="btnCrear" mat-button (click)="cerrar()">Cerrar</button>
    <button mat-button (click)="guardar()">Guardar</button>
</div>
