<div style="background-color:#080710">


<div class="container">
<div class="mb-3">
    <form [formGroup]="formulario" class="login" (ngSubmit)="onLogin()">

   <h1> Login</h1>

        <label> Email: </label>
        <input type="text" class="form-control" placeholder="email" for="exampleInputEmail1"
        formControlName="email">

        <div class="texto-incorrecto" *ngIf="formulario.get('email')?.errors?.['required']">El email es requerido.</div>
        <div class="texto-incorrecto" *ngIf="formulario.get('email')?.errors?.['email']">Formato inválido.</div>


        <label> Password: </label>
        <input type="password" class="form-control" formControlName="password" placeholder="contraseña">

        <div class="texto-incorrecto" *ngIf="formulario.get('password')?.errors?.['required']"> La contraseña es
            requerida. </div>
        <div class="texto-incorrecto" *ngIf="formulario.get('password')?.errors?.['minLength']"> Contraseña inválida.
        </div>

        <button mat-raised-button type="submit">Enviar </button>

    </form>
</div>
</div>
</div>