
<h1 [appTitulos]="20"> Estudiantes 2022 </h1>
<!-- <mat-form-field>
  <mat-label appearance="fill"> Filtrar alumnos </mat-label>
  <input type="text" (keyup)="filtrar($event)" matInput>
  <mat-icon> search </mat-icon>
</mat-form-field> -->

<div  class="example-button-container" >
<button mat-fab  color="primary" (click)="agregarAlumno()" *ngIf="usuarioAdmin$ |async">
<mat-icon> person_add  </mat-icon>
</button>
</div>


<mat-label> <h3> Listado de alumnos </h3></mat-label>

<table mat-table [dataSource]="data$">
  <ng-container matColumnDef="idAlumno">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.idAlumno}} </td>
  </ng-container>

  <ng-container matColumnDef="apellido">
    <th mat-header-cell *matHeaderCellDef> Nombre y Apellido </th>
    <td mat-cell *matCellDef="let element"> {{element |concatenar}} </td>
  </ng-container>

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element"></td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email</th>
    <td mat-cell *matCellDef="let element">{{ element.email }}</td>
  </ng-container>

  <ng-container matColumnDef="fechaNacimiento">
    <th mat-header-cell *matHeaderCellDef> Fecha de Nacimiento</th>
    <td mat-cell *matCellDef="let element">{{ element.fechaNacimiento | date:'dd-MM-yy' }}</td>
  </ng-container>

  <ng-container matColumnDef="nota">
    <th mat-header-cell *matHeaderCellDef> Nota final</th>
    <td mat-cell *matCellDef="let element">{{ element.nota }}</td>
  </ng-container>


  <ng-container matColumnDef="estado">
    <th mat-header-cell *matHeaderCellDef> Aprobado</th>
    <td mat-cell *matCellDef="let element">{{ element.estado }}</td>
  </ng-container>

  <ng-container matColumnDef="Acciones">

    <th mat-header-cell *matHeaderCellDef> Ver detalle </th>
    <td mat-cell *matCellDef="let element">
    <button mat-icon-button (click)="verDetalle(element)">
    <mat-icon> visibility </mat-icon>
     </button>
           <button mat-icon-button (click)="editarAlumno(element)" *ngIf="usuarioAdmin$ |async">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="eliminarAlumno(element.idAlumno)" *ngIf="usuarioAdmin$ |async">
            <mat-icon>delete</mat-icon>
        </button>
    </td>
</ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"> </tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"> </tr>
</table>


<mat-card style="width:30%; height:25%" *ngIf="usuarioAdmin$ |async">
  <mat-card-title> Criterios de evaluación </mat-card-title>
  <mat-card-subtitle> 2022 </mat-card-subtitle>
  <mat-card-content>
    <p> Para aprobar el curso la nota del alumno debe ser mayor a: {{nota | number: '0.2-2'}} </p>
    <br>
    <footer> Actualizado al: {{ hoy | date:'dd-MM-yy'}} </footer>
  </mat-card-content>
</mat-card>

<app-footer></app-footer>