<app-toolbar></app-toolbar>

<app-navbar></app-navbar>

<h1 [appTitulos]="20">  Listado de alumnos </h1>

<!-- <div *ngIf="AuthService.isAdmin">
 --> 
 <button type="button" class="btn btn-dark" (click)="redireccionar('usuario/alumnos/lista')"> Administrar alumnos </button>
<router-outlet></router-outlet>


<!--  <div *ngIf="AuthService.!isAdmin">  -->    
 <div class="grid text-center" style="--bs-columns: 6;">
    <table class="table table-dark table-borderless">
        <thead>
            <tr>
                <th scope="col"> id </th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col"> Fecha de Nacimiento</th>
                <th scope="col"> Nota </th>
                <th scope="col"> Estado </th>
            </tr>
        </thead>
        <tbody>
            <tr class *ngFor="let alumno of alumnos$ | async">
                <td>{{alumno.id}}</td>
                <td>{{alumno.nombre}}</td>
                <td>{{alumno.apellido}}</td>
                <td>{{alumno.fechaNacimiento | date: 'dd-MM-yy'}}</td>     
                <td>{{alumno.nota}}</td>
                <td>{{alumno.estado}}</td>
            </tr>
        </tbody>
    </table>
</div>


<app-footer></app-footer>