<app-toolbar></app-toolbar>
<app-navbar></app-navbar>
<h1> ¡Bienvenido! <!-- {{usuario.username}} --></h1>

<mat-card class="example-card">
<mat-card-header>
<mat-card-title>Estudiantes</mat-card-title>
<mat-card-subtitle>Información sobre alumnos 2022</mat-card-subtitle>
</mat-card-header>
<mat-card-actions>
<button mat-button (click)="redireccionar('usuario/alumnos')">Ingresar</button>
</mat-card-actions>
</mat-card>

<mat-card class="example-card">
    <mat-card-header>
    <mat-card-title>Cursos</mat-card-title>
    <mat-card-subtitle>Información sobre cursos 2022</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
    <button mat-button (click)="redireccionar('usuario/cursos')">Ingresar</button>
    </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
        <mat-card-header>
        <mat-card-title>Inscripciones</mat-card-title>
        <mat-card-subtitle>Inscripciones abiertas 2022</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
        <button mat-button (click)="redireccionar('usuario/inscripciones')">Ingresar</button>
        </mat-card-actions>
        </mat-card>

        <mat-card class="example-card">
            <mat-card-header>
            <mat-card-title>Clases</mat-card-title>
            <mat-card-subtitle >Información sobre clases</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
            <button mat-button (click)="redireccionar('usuario/clases')" >Ingresar</button>
            </mat-card-actions>
            </mat-card>
            
<app-footer></app-footer>
