<h1 mat-dialog-title>Nuevo usuario</h1>

<div mat-dialog-content>
    <form [formGroup]="formulario">

        <mat-form-field appearance="fill">
            <mat-label>username</mat-label>
            <input formControlName="username" matInput>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>e-mail</mat-label>
            <input formControlName="email" matInput>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>password</mat-label>
            <input formControlName="password" matInput>
        </mat-form-field>

    <section class="example-section">
      <mat-checkbox class="example-margin" input formControlName="admin" matInput > admin </mat-checkbox>
      </section>

    </form>
</div>

<div mat-dialog-actions>
    <button id="btnCrear" mat-button (click)="cerrar()">Cerrar</button>
    <button mat-button (click)="guardar()">Guardar</button>
</div>