<div class="menu">
    <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Buscar estudiantes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled"> Clases</a>
        </li>
          
         <!--  PRUBAS DE ROUTING 
          (click)="router.navigate(['/clases']); -->"

        <li class="nav-item">
          <a class="nav-link disabled" href="#" >Contacto</a>
        </li>
      </ul>
 </div>